<ng-template transloco let-t [translocoScope]="pages.home.url">
  <div class="min-h-full hero bg-base-100 pt-2">
    <div class="hero-content max-w-max text-center">
      <div class="max-w-md">
        <h1 class="text-3xl sm:text-4xl font-bold">
          Front-End Developer (Angular)
        </h1>
        <div class="text-xl sm:text-2xl py-6 grid gap-4">
          @for (item of t("homePage.intro"); track $index) {
            <p>
              {{ item }}
            </p>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>
