<h1 class="text-2xl md:text-4xl font-bold mb-2">
  Front-End Developer (Angular)
</h1>
<div class="text-xl md:text-2xl grid gap-4">
  <p>
    👋🏻 Ciao! sono Federico, uno sviluppatore software appassionato di tecnologie
    web specializzato in Angular.
  </p>
  <p>
    In questo sito vorrei condividere la mia esperienza e le mie conoscenze
    attraverso articoli, tutorial e racconti delle mie esperienze lavorative.
  </p>
  <p>
    Mi farebbe piacere aiutarti a migliorare le tue competenze e a scoprire
    nuove tecnologie e tendenze nel settore.
  </p>
  <p>
    Su questo sito potrai trovare informazioni sui miei progetti personali, sui
    miei interessi e sulle mie esperienze lavorative.
  </p>
  <p>
    Spero che ti piaccia esplorare il mio sito e che possiamo scambiare idee e
    conoscenze!
  </p>
</div>
